# Menampilkan Data

In [2]:
import pandas as pd
# Membaca dataset dari file CSV
df = pd.read_csv('diabetes_binary_health_indicators_BRFSS2021.csv')
df.head(100)

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,0,1.0,1,15.0,1.0,0.0,0.0,0,1,...,1,0.0,5.0,10.0,20.0,0.0,0,11,4.0,5.0
1,1.0,1,0.0,1,28.0,0.0,0.0,1.0,0,1,...,1,0.0,2.0,0.0,0.0,0.0,0,11,4.0,3.0
2,1.0,1,1.0,1,33.0,0.0,0.0,0.0,1,1,...,1,0.0,2.0,10.0,0.0,0.0,0,9,4.0,7.0
3,1.0,0,1.0,1,29.0,0.0,1.0,1.0,1,1,...,1,0.0,5.0,0.0,30.0,1.0,1,12,3.0,4.0
4,0.0,0,0.0,1,24.0,1.0,0.0,0.0,0,0,...,1,0.0,3.0,0.0,0.0,1.0,1,13,5.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0,0.0,1,44.0,0.0,0.0,0.0,1,1,...,1,0.0,3.0,0.0,0.0,1.0,0,10,6.0,9.0
96,0.0,0,0.0,1,19.0,1.0,0.0,0.0,1,0,...,1,0.0,2.0,0.0,0.0,0.0,0,13,6.0,8.0
97,1.0,1,1.0,1,23.0,0.0,0.0,0.0,1,1,...,1,0.0,2.0,0.0,2.0,0.0,0,11,5.0,6.0
98,1.0,1,1.0,1,31.0,0.0,0.0,1.0,0,0,...,1,0.0,5.0,14.0,30.0,1.0,1,9,6.0,4.0
99,1.0,1,1.0,1,29.0,0.0,0.0,0.0,1,0,...,1,0.0,4.0,0.0,5.0,0.0,0,12,4.0,8.0

# Seleksi Fitur

In [3]:
import pandas as pd

# Load dataset from CSV
df = pd.read_csv('diabetes_binary_health_indicators_BRFSS2021.csv')

# Memilih subset fitur yang ingin dipertahankan
selected_features = ['Diabetes_binary', 'HighBP','HighChol', 'BMI', 'Smoker', 'Stroke', 'HeartDiseaseorAttack', 'PhysActivity','Fruits', 'Age', 'Sex']

# Mengambil hanya fitur yang dipilih
df_selected = df[selected_features]

# Simpan DataFrame ke dalam file CSV
df_selected.to_csv('df_selected_features.csv', index=False)
# Melihat beberapa baris pertama dari data yang telah dipilih
print(df_selected.head())

   Diabetes_binary  HighBP  HighChol   BMI  Smoker  Stroke  \
0              0.0       0       1.0  15.0     1.0     0.0
1              1.0       1       0.0  28.0     0.0     0.0
2              1.0       1       1.0  33.0     0.0     0.0
3              1.0       0       1.0  29.0     0.0     1.0
4              0.0       0       0.0  24.0     1.0     0.0

   HeartDiseaseorAttack  PhysActivity  Fruits  Age  Sex
0                   0.0             0       1   11    0
1                   1.0             0       1   11    0
2                   0.0             1       1    9    0
3                   1.0             1       1   12    1
4                   0.0             0       0   13    1

# Menampilkan Dataset yang telah diseleksi

In [4]:
df = pd.read_csv('df_selected_features.csv')
df.head(10)

,Diabetes_binary,HighBP,HighChol,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Age,Sex
0,0.0,0,1.0,15.0,1.0,0.0,0.0,0,1,11,0
1,1.0,1,0.0,28.0,0.0,0.0,1.0,0,1,11,0
2,1.0,1,1.0,33.0,0.0,0.0,0.0,1,1,9,0
3,1.0,0,1.0,29.0,0.0,1.0,1.0,1,1,12,1
4,0.0,0,0.0,24.0,1.0,0.0,0.0,0,0,13,1
5,0.0,1,0.0,40.0,1.0,0.0,0.0,1,1,10,0
6,0.0,1,1.0,27.0,1.0,0.0,0.0,0,0,10,0
7,1.0,0,0.0,24.0,0.0,0.0,1.0,0,0,12,1
8,0.0,1,1.0,30.0,0.0,0.0,0.0,0,1,7,0
9,0.0,1,1.0,36.0,1.0,0.0,0.0,0,0,10,1

In [5]:
# Baca dataset dari file CSV
#df = pd.read_csv('df_selected_features.csv')
# Tambahkan kolom indeks sebelum melakukan pengurutan
#df['Original_Index'] = df.index

# Urutkan DataFrame berdasarkan kolom 'Diabetes_binary' dengan memprioritaskan nilai 0
#df_sorted = df.sort_values(by='Diabetes_binary', ascending=True)

# Simpan DataFrame yang diurutkan ke dalam file CSV
#df_sorted.to_csv('df_selected_features.csv', index=False)

# Urutkan kembali DataFrame berdasarkan kolom 'Original_Index' untuk mendapatkan urutan asli kembali
#df_sorted_original_order = df_sorted.sort_values(by='Original_Index')

#print("DataFrame yang diurutkan telah disimpan dalam file CSV.")

# Normalisasi Data Menggunakan Min Max Scaler

In [6]:
from sklearn.preprocessing import MinMaxScaler
df = pd.read_csv('df_selected_features.csv')
# Inisialisasi MinMaxScaler
scaler = MinMaxScaler()

# Normalisasi data
df_normalized = scaler.fit_transform(df)

# Konversi hasil normalisasi menjadi DataFrame
df_normalized = pd.DataFrame(df_normalized, columns=df.columns)

print("Data setelah normalisasi min-max:")
print(df_normalized)
# Simpan DataFrame ke dalam file CSV
df_normalized.to_csv('data_normalized.csv', index=False)

Data setelah normalisasi min-max:
        Diabetes_binary  HighBP  HighChol       BMI  Smoker  Stroke  \
0                   0.0     0.0       1.0  0.034483     1.0     0.0
1                   1.0     1.0       0.0  0.183908     0.0     0.0
2                   1.0     1.0       1.0  0.241379     0.0     0.0
3                   1.0     0.0       1.0  0.195402     0.0     1.0
4                   0.0     0.0       0.0  0.137931     1.0     0.0
...                 ...     ...       ...       ...     ...     ...
236373              1.0     1.0       1.0  0.103448     0.0     0.0
236374              0.0     1.0       0.0  0.149425     1.0     0.0
236375              0.0     0.0       1.0  0.218391     0.0     0.0
236376              0.0     1.0       0.0  0.137931     0.0     0.0
236377              0.0     0.0       1.0  0.229885     0.0     0.0

        HeartDiseaseorAttack  PhysActivity  Fruits       Age  Sex
0                        0.0           0.0     1.0  0.833333  0.0
1                        1.0           0.0     1.0  0.833333  0.0
2                        0.0           1.0     1.0  0.666667  0.0
3                        1.0           1.0     1.0  0.916667  1.0
4                        0.0           0.0     0.0  1.000000  1.0
...                      ...           ...     ...       ...  ...
236373                   0.0           1.0     1.0  0.750000  1.0
236374                   0.0           1.0     1.0  0.166667  0.0
236375                   0.0           1.0     1.0  0.500000  1.0
236376                   0.0           1.0     1.0  0.750000  1.0
236377                   0.0           1.0     0.0  0.416667  0.0

[236378 rows x 11 columns]

# Memisahkan Kelas

# Kelas 0

In [7]:
df = pd.read_csv('data_normalized.csv')
df_diabetes_0 = df[df['Diabetes_binary'] == 0]
df_diabetes_0.to_csv('df_diabetes_0.csv', index=False)

In [8]:
df = pd.read_csv('df_diabetes_0.csv')
df.head(100)

,Diabetes_binary,HighBP,HighChol,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Age,Sex
0,0.0,0.0,1.0,0.034483,1.0,0.0,0.0,0.0,1.0,0.833333,0.0
1,0.0,0.0,0.0,0.137931,1.0,0.0,0.0,0.0,0.0,1.000000,1.0
2,0.0,1.0,0.0,0.321839,1.0,0.0,0.0,1.0,1.0,0.750000,0.0
3,0.0,1.0,1.0,0.172414,1.0,0.0,0.0,0.0,0.0,0.750000,0.0
4,0.0,1.0,1.0,0.206897,0.0,0.0,0.0,0.0,1.0,0.500000,0.0
...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,1.0,0.0,0.206897,0.0,0.0,0.0,0.0,0.0,1.000000,0.0
96,0.0,0.0,0.0,0.091954,0.0,0.0,0.0,1.0,0.0,0.666667,0.0
97,0.0,1.0,1.0,0.114943,1.0,0.0,0.0,1.0,1.0,0.833333,0.0
98,0.0,1.0,1.0,0.195402,1.0,0.0,0.0,1.0,1.0,0.750000,1.0
99,0.0,0.0,0.0,0.172414,1.0,0.0,0.0,1.0,0.0,0.666667,1.0

# Pembagian data uji dan data latih kelas 0

In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Memuat dataset dari file CSV
df = pd.read_csv('df_diabetes_0.csv')

# Misal X adalah fitur-fitur dan y adalah target
X = df.drop('Diabetes_binary', axis=1)
y = df['Diabetes_binary']

# Memisahkan data menjadi data latih dan data uji
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Membuat DataFrame baru untuk data latih
df_train = pd.DataFrame(X_train, columns=X.columns)
df_train['Diabetes_binary'] = y_train

# Membuat DataFrame baru untuk data uji
df_test = pd.DataFrame(X_test, columns=X.columns)
df_test['Diabetes_binary'] = y_test

# Simpan DataFrame data latih ke dalam file CSV
df_train.to_csv('data_latih0.csv', index=False)

# Simpan DataFrame data uji ke dalam file CSV
df_test.to_csv('data_uji0.csv', index=False)

# Kelas 1

In [10]:
df = pd.read_csv('data_normalized.csv')
df_diabetes_1 = df[df['Diabetes_binary'] == 1]
df_diabetes_1.to_csv('df_diabetes_1.csv', index=False)

In [11]:
df = pd.read_csv('df_diabetes_1.csv')
df.head(100)

,Diabetes_binary,HighBP,HighChol,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Age,Sex
0,1.0,1.0,0.0,0.183908,0.0,0.0,1.0,0.0,1.0,0.833333,0.0
1,1.0,1.0,1.0,0.241379,0.0,0.0,0.0,1.0,1.0,0.666667,0.0
2,1.0,0.0,1.0,0.195402,0.0,1.0,1.0,1.0,1.0,0.916667,1.0
3,1.0,0.0,0.0,0.137931,0.0,0.0,1.0,0.0,0.0,0.916667,1.0
4,1.0,0.0,0.0,0.241379,1.0,0.0,0.0,1.0,0.0,0.416667,1.0
...,...,...,...,...,...,...,...,...,...,...,...
95,1.0,1.0,0.0,0.172414,0.0,0.0,0.0,0.0,0.0,1.000000,0.0
96,1.0,1.0,0.0,0.195402,1.0,0.0,1.0,0.0,1.0,0.833333,0.0
97,1.0,1.0,0.0,0.172414,0.0,0.0,0.0,1.0,1.0,0.916667,1.0
98,1.0,1.0,1.0,0.103448,1.0,1.0,1.0,0.0,1.0,0.750000,1.0
99,1.0,1.0,1.0,0.264368,0.0,0.0,0.0,0.0,1.0,0.833333,0.0

# Pembagian data uji dan latih kelas 1

In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Memuat dataset dari file CSV
df = pd.read_csv('df_diabetes_1.csv')

# Misal X adalah fitur-fitur dan y adalah target
X = df.drop('Diabetes_binary', axis=1)
y = df['Diabetes_binary']

# Memisahkan data menjadi data latih dan data uji
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Membuat DataFrame baru untuk data latih
df_train = pd.DataFrame(X_train, columns=X.columns)
df_train['Diabetes_binary'] = y_train

# Membuat DataFrame baru untuk data uji
df_test = pd.DataFrame(X_test, columns=X.columns)
df_test['Diabetes_binary'] = y_test

# Simpan DataFrame data latih ke dalam file CSV
df_train.to_csv('data_latih1.csv', index=False)

# Simpan DataFrame data uji ke dalam file CSV
df_test.to_csv('data_uji1.csv', index=False)

# Menghitung Jarak antar data di Kelas 0

# 1. Menggabungkan dua dataframe

In [13]:
import pandas as pd

# Membaca file CSV menjadi DataFrame
df1 = pd.read_csv('data_latih0.csv')
df2 = pd.read_csv('data_uji0.csv')

# Menggabungkan DataFrame berdasarkan sumbu baris (axis=0)
gabung_df = pd.concat([df1, df2])

# Menyimpan DataFrame ke file CSV
gabung_df.to_csv('gabung_dataframe.csv', index=False)  # index=False agar indeks tidak disimpan dalam file CSV

# menghitung jarak antar data dan akumulasi data kelas 0

In [16]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import euclidean_distances

# Load dataset from CSV
df = pd.read_csv('gabung_dataframe.csv')

# Ambil hanya 100 data pertama dari dataset
df_subset = df.iloc[:5]  # Menggunakan hanya 5 data sebagai contoh
print(df_subset)

# Separate features (X) from the dataset
X = df_subset.drop('Diabetes_binary', axis=1)  # Assuming 'Diabetes_binary' is the name of the target column

# Compute the Euclidean distances between data points
distances = euclidean_distances(X)

# Print distances between data points
print("Jarak antara data point:")

# Initialize sum of distances
sum_distances = 0

# Loop through the distance matrix and print distances above the diagonal
for i in range(len(distances)):
    for j in range(i+1, len(distances[i])):
        distance_ij = distances[i][j]
        print(f"Jarak antara data point {i} dan data point {j}: {distance_ij}")
        sum_distances += distance_ij

# Print the sum of distances
print("Total jarak antara semua data point:", sum_distances)

   HighBP  HighChol       BMI  Smoker  Stroke  HeartDiseaseorAttack  \
0     0.0       1.0  0.287356     1.0     0.0                   0.0
1     0.0       0.0  0.264368     0.0     0.0                   0.0
2     1.0       0.0  0.252874     1.0     0.0                   0.0
3     0.0       0.0  0.172414     0.0     0.0                   0.0
4     1.0       1.0  0.229885     0.0     0.0                   0.0

   PhysActivity  Fruits       Age  Sex  Diabetes_binary
0           0.0     1.0  0.500000  1.0              0.0
1           1.0     1.0  0.583333  0.0              0.0
2           0.0     0.0  0.750000  0.0              0.0
3           1.0     0.0  0.500000  0.0              0.0
4           1.0     0.0  0.166667  1.0              0.0
Jarak antara data point:
Jarak antara data point 0 dan data point 1: 2.0018673572045005
Jarak antara data point 0 dan data point 2: 2.0158593851362983
Jarak antara data point 0 dan data point 3: 2.23902027344822
Jarak antara data point 0 dan data point 4: 2.02840184809104
Jarak antara data point 1 dan data point 2: 2.006965344899333
Jarak antara data point 1 dan data point 3: 1.0076705745372418
Jarak antara data point 1 dan data point 4: 2.043232774735469
Jarak antara data point 2 dan data point 3: 1.7518486734324257
Jarak antara data point 2 dan data point 4: 2.0834601626079303
Jarak antara data point 3 dan data point 4: 1.764770256248429
Total jarak antara semua data point: 18.943096650340888

# akumulasi data kelas 0

Total jarak akumulasi antar data: 6.0246920872401315

# Menghitung Jarak antar data Kelas 1

# 1.menggabungkan dataframe

In [175]:
import pandas as pd

# Membaca file CSV menjadi DataFrame
df1 = pd.read_csv('data_latih1.csv')
df2 = pd.read_csv('data_uji1.csv')

# Menggabungkan DataFrame berdasarkan sumbu baris (axis=0)
gabung_df = pd.concat([df1, df2])

# Menyimpan DataFrame ke file CSV
gabung_df.to_csv('gabung_dataframe1.csv', index=False)  # index=False agar indeks tidak disimpan dalam file CSV

# menghitung jarak antar data

In [17]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import euclidean_distances

# Load dataset from CSV
df = pd.read_csv('gabung_dataframe1.csv')

# Ambil hanya 100 data pertama dari dataset
df_subset = df.iloc[:5]  # Menggunakan hanya 5 data sebagai contoh
print(df_subset)

# Separate features (X) from the dataset
X = df_subset.drop('Diabetes_binary', axis=1)  # Assuming 'Diabetes_binary' is the name of the target column

# Compute the Euclidean distances between data points
distances = euclidean_distances(X)

# Print distances between data points
print("Jarak antara data point:")

# Initialize sum of distances
sum_distances = 0

# Loop through the distance matrix and print distances above the diagonal
for i in range(len(distances)):
    for j in range(i+1, len(distances[i])):
        distance_ij = distances[i][j]
        print(f"Jarak antara data point {i} dan data point {j}: {distance_ij}")
        sum_distances += distance_ij

# Print the sum of distances
print("Total jarak antara semua data point:", sum_distances)

   HighBP  HighChol       BMI  Smoker  Stroke  HeartDiseaseorAttack  \
0     1.0       1.0  0.103448     1.0     0.0                   1.0
1     0.0       0.0  0.344828     0.0     0.0                   0.0
2     1.0       0.0  0.195402     1.0     0.0                   0.0
3     0.0       0.0  0.252874     1.0     0.0                   1.0
4     1.0       1.0  0.367816     1.0     0.0                   0.0

   PhysActivity  Fruits       Age  Sex  Diabetes_binary
0           1.0     0.0  0.916667  1.0              1.0
1           0.0     1.0  0.916667  0.0              1.0
2           0.0     0.0  1.000000  0.0              1.0
3           1.0     0.0  0.500000  1.0              1.0
4           1.0     1.0  0.750000  1.0              1.0
Jarak antara data point:
Jarak antara data point 0 dan data point 1: 2.656739349552858
Jarak antara data point 0 dan data point 2: 2.003846298194603
Jarak antara data point 0 dan data point 3: 1.4818701115862452
Jarak antara data point 0 dan data point 4: 1.4483328760899574
Jarak antara data point 1 dan data point 2: 1.740480497146108
Jarak antara data point 1 dan data point 3: 2.2764153077711637
Jarak antara data point 1 dan data point 4: 2.2423885143244613
Jarak antara data point 2 dan data point 3: 2.0623537393541476
Jarak antara data point 2 dan data point 4: 2.022925237385781
Jarak antara data point 3 dan data point 4: 2.018839217201841
Total jarak antara semua data point: 19.954191148607165

In [19]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

# Load dataset from CSV
df = pd.read_csv('gabung_dataframe1.csv')

# Ambil hanya 100 data pertama dari dataset
df_subset = df.iloc[:100]  # Menggunakan hanya 100 data sebagai contoh

# Separate features (X) and target (y)
X = df_subset.drop('Diabetes_binary', axis=1)  # Assuming 'Diabetes_binary' is the name of the target column
y = df_subset['Diabetes_binary']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Instantiate and train a classifier (K-Nearest Neighbors classifier as an example)
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

# Make predictions on the test set
y_pred = knn.predict(X_test)

# Compute accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 1.0

In [177]:
# akumulasi data kelas 1

In [178]:
# Jarak antar data point (dalam contoh Anda)
jarak_antar_data = [2.656739349552858,
                    2.003846298194603,
                    1.740480497146108

]

# Inisialisasi total jarak
total_jarak_akumulasi = 0

# Akumulasi jarak antar data
for jarak in jarak_antar_data:
    total_jarak_akumulasi += jarak

print("Total jarak akumulasi antar data:", total_jarak_akumulasi)

Total jarak akumulasi antar data: 6.401066144893569

# Nilai Keanggotaan

In [27]:
import pandas as pd
import numpy as np

# Fungsi keanggotaan Gaussian
def gaussian_mf(x, mean, std_dev):
    return np.exp(-0.5 * ((x - mean) / std_dev) ** 2)

# Muat dataset dari file CSV
df = pd.read_csv('data_normalized.csv')

# Memisahkan data menjadi fitur (X) dan kelas (y)
X = df.drop('Diabetes_binary', axis=1)
y = df['Diabetes_binary']

# Tentukan mean dan standar deviasi untuk setiap fitur berdasarkan kelasnya
mean_values_0 = X[y == 0].mean()  # Mean untuk kelas 0
std_dev_values_0 = X[y == 0].std()  # Standar deviasi untuk kelas 0
mean_values_1 = X[y == 1].mean()  # Mean untuk kelas 1
std_dev_values_1 = X[y == 1].std()  # Standar deviasi untuk kelas 1

# Tentukan nilai input x (contoh)
x_value = 2.5

# Terapkan fungsi keanggotaan Gaussian untuk setiap fitur dan kelas
membership_degrees = {}
for column in X.columns:
    membership_degrees[column + '_0'] = gaussian_mf(x_value, mean_values_0[column], std_dev_values_0[column])
    membership_degrees[column + '_1'] = gaussian_mf(x_value, mean_values_1[column], std_dev_values_1[column])

# Simpan hasil derajat keanggotaan ke dalam DataFrame baru
membership_df = pd.DataFrame(membership_degrees, index=[0])

# Tampilkan hasil
print("Derajat keanggotaan nilai", x_value, "untuk setiap fitur dan kelas:")
print(membership_df)

Derajat keanggotaan nilai 2.5 untuk setiap fitur dan kelas:
   HighBP_0  HighBP_1  HighChol_0  HighChol_1          BMI_0          BMI_1  \
0  0.000055  0.000339    0.000051    0.000549  5.408264e-226  1.744974e-155

   Smoker_0  Smoker_1      Stroke_0      Stroke_1  HeartDiseaseorAttack_0  \
0  0.000103  0.000284  6.412724e-45  1.295678e-16            1.916330e-21

   HeartDiseaseorAttack_1  PhysActivity_0  PhysActivity_1  Fruits_0  Fruits_1  \
0            1.167500e-07        0.000108        0.000553  0.000553  0.000528

          Age_0         Age_1     Sex_0     Sex_1
0  9.516858e-12  1.111082e-17  0.000258  0.000389

# menghitung jarak data uji setiap kelas digabungkan

In [28]:
# m = 2
hasil = (18.943096650340888 ** ((-2) / (2 - 1))) + (19.954191148607165 ** ((-2) / (2 - 1)))

# Mencetak hasil perhitungan
print("Hasil perhitungan:", hasil)

Hasil perhitungan: 0.005298241935952748

In [29]:
# Menghitung nilai u_0
u_0 = 18.943096650340888 / 0.005298241935952748

# Mencetak nilai u_0
print("Nilai u_0:", u_0)

Nilai u_0: 3575.3551610765535

In [30]:
# Menghitung nilai u_1
u_1= 19.954191148607165 / 0.005298241935952748

# Mencetak nilai u_2
print("Nilai u_1:", u_1)

Nilai u_1: 3766.1910101164403

# Memprediksi Kelas data uji

In [26]:
# Mengimpor fungsi argmax dari NumPy
from numpy import argmax


# Menghitung argmax dari dua nilai
y = argmax([u_0, u_1])

# Mencetak nilai y
print("Nilai y (argmax):", y)

Nilai y (argmax): 1

# Kesimpulan " data uji lebih mengarah ke kelas 1 yaitu menderita diabetes "